.appointment-item-container {
  list-style-type: none;
  border: 1px solid #b5b7c4;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.star-button {
  border: none;
  background-color: transparent;
}
.name-input {
  font-family: 'Roboto';
  font-size: 16px;
  color: #171f46;
  font-weight: 700;
}
.date-input {
  font-family: 'Roboto';
  font-size: 15px;
  color: #b5b7c4;
  font-weight: 700;
}
