.app-container {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.appointment-container {
  background-color: #ffffff;
  width: 90%;
  max-width: 550px;
  border-radius: 12px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .appointment-container {
    max-width: 800px;
  }
}
.heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #171f46;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 32px;
  }
}
.title-container {
  margin-bottom: 20px;
}
.title-input {
  width: 220px;
  height: 30px;
  outline: none;
}
.input-date {
  width: 220px;
  height: 30px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .title-input {
    width: 300px;
  }
  .input-date {
    width: 300px;
  }
}
.input-heading {
  font-family: 'Roboto';
  font-size: 12px;
  color: #b5b7c4;
  font-weight: 600;
}
.add-button {
  background-color: #8b5cf6;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Roboto';
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  align-self: flex-start;
  outline: none;
  cursor: pointer;
}
.appointments-image {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .appointments-image {
    height: 300px;
    width: 300px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .input-container {
    flex-direction: row;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 1;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 28%;
    min-width: 300px;
    order: 0;
  }
}
.line {
  color: #b5b7c4;
  font-weight: bold;
}
.appointments-heading {
  font-family: 'Roboto';
  font-size: 15px;
  color: #171f46;
  font-weight: 600;
}
.starred-button {
  border: 1px solid #8b5cf6;
  color: #8b5cf6;
  background-color: transparent;
  border-radius: 12px;
  font-family: 'Roboto';
  font-size: 12px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.starred-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.appointment-list-container {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
